/* Stylesheet for the Wiki
 Based on the lighttpd default page in debian */

/* General body */

body {
    background: #f2f0ff;
    margin: 0px;
    padding:0
}

#content, .page { 
    background: #ffffff; 
    margin: auto;
    margin-top: 0px;
    margin-bottom:0px;
    padding: 10px;
    min-height:100vh;
}

@media all and (min-width: 65em) {
    #content {
        border-left: 2px solid hsl(34 100% 77%) ;
        border-right: 2px solid hsl(34 100% 77%);
    }
}

p {
    text-align: justify;
}

#content {
    max-width: 90ch;
    padding-left:2em;
    padding-right:2em;
}
.languages {
    text-align: right;
}
.title, .pageheader {
    text-align: center; 
    padding: 10px; 
}

.center {
    text-align: center;
}
/* Header */
.percentage { font-size: small; }

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pageheader a {
    color: #c09797;
}
.actions {
    text-align: right;
}
.actions ul { border: none; }
.pageheader #otherlanguages {
    display: inline;
    border-bottom: none;
    margin: 0px;
    padding: 0px;
}

.pageheader #otherlanguages ul {     
    margin: 0px;
    padding: 0px;
    border-bottom: 12px;
    list-style-type: none; 
}
#otherlanguages ul li { display: inline; }

.theorem:before {
    font-weight: bold;
    content: attr(data-kind) " " attr(data-number) "." attr(data-title);
}

.theorem {
    font-variant: italic;
}

pre, code {
    background-color: hsl(34, 100%, 90%);
}
p code {
    font-size:1.2em;
    padding: 0.1em;
}
pre {
    border-left: 3px solid hsl(34 100% 77%);
    padding: 0.5em;
    margin-left: 1em;
}
figure {
    border: 1px solid hsl(34 100% 90%);
    border-radius: 5px;
    text-align:center;
}

figcaption {
    font-style: italic;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}
